@page "/DetallesClientes"
@page "/DetallesClientes/ClienteId={clienteId:int}"
@inject HttpClient httpClient

<PageTitle>Detalles de Clientes</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h3><strong>Informaci&oacute;n de Cliente</strong></h3>
        </div>
        <div class="card-body">
            <h4><strong>Informaci&oacute;n del Cliente #@cliente.ClienteId</strong></h4>
            <div>
                <p class="mb-2"><strong>Cliente Id:</strong> @cliente.ClienteId</p>
            </div>
            <div>
                <p class="mb-2"><strong>Nombre:</strong> @cliente.Nombres</p>
            </div>
            <div>
                <p class="mb-2"><strong>RNC:</strong> @cliente.RNC</p>
            </div>
            <div>
                <p class="mb-2"><strong>Tel&eacute;fono:</strong> @cliente.Telefono</p>
            </div>
            <div>
                <p class="mb-2"><strong>Celular:</strong> @cliente.Celular</p>
            </div>
            <div>
                <p class="mb-2"><strong>Email:</strong> @cliente.Email</p>
            </div>
            <div>
                <p class="mb-2"><strong>Direcci&oacute;n:</strong> @cliente.Direccion</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="col d-flex justify-content-end"><a href="/Clientes" class="btn btn-dark"> Volver</a></div>
        </div>
        @Mensaje
    </div>
</div>

@code {
    [Parameter]
    public int clienteId { get; set; }
    public Clientes cliente { get; set; } = new Clientes();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        cliente = (await httpClient.GetFromJsonAsync<Clientes>($"api/Clientes/{clienteId}"))!;
    }
}